.themeToggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleIcon {
    width: 32px;
    height: 32px;
    transition:
        transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.themeToggle:active .toggleIcon {
    transform: rotate(180deg) scale(0.9);
}

:global(.dark-theme) .toggleIcon {
    stroke: #ffffff;
}

@media (max-width: 425px) {
    .themeToggle {
        display: none;
    }
}
