.gallery {
    width: 100%;
    max-width: 1047px;/* Max width from Figma */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 18px;
    opacity: 1;
}

.imgCardWrapper {
    width: 100%;
    height: 100%;
}